<div id="container-messages">
	<h2>Mensajes</h2>
	<ul>
		{{#each messages}}
		<li>
			<strong>{{this.email}}:</strong> {{this.body}}
		</li>
		{{/each}}
	</ul>
</div>

<form id="chat-form">
	<input class="w-full mb-2" id="email-input" type="email" placeholder="E-mail">
	<textarea class="w-full mb-2" name="message" id="text-area-input" cols="30" rows="5" placeholder="Mensaje"></textarea>
	<button type="submit" class="bg-green-600  px-4 py-2">Enviar</button>
</form>